@font-face {
  font-family: Vazir;
  src: url("./assets/font/vazir-font-v30.1.0/Vazir-Medium.eot");
  src: url("Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/vazir-font-v30.1.0/Vazir-Medium.woff2") format("woff2"),
    url("./assets/font/vazir-font-v30.1.0/Vazir-Regular.woff") format("woff"),
    url("./assets/font/vazir-font-v30.1.0/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 180vh; */
  background-color: #e9ecef;
  font-family: Vazir, sans-serif;
  margin-bottom: 7rem;
}

.header {
  position: relative;
  width: 100%;
  height: 80vh;
  /* background: url(./assets/images/cappuccino-wallpapers.jpg); */
  background-size: cover;
  background-attachment: fixed;
  background-color: #011c63;
  /* clip-path: polygon(0 0, 100% 0, 100% 40%, 50% 80%, 0 40%); */
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
}

main .announcement {
  width: 80%;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid #fffffc;
  border-bottom: 2px solid #fffffc;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

i.announcement-icon {
  font-size: 2rem;
  margin-left: 8px;
  animation-name: announcement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes announcement {
  from {
    color: black;
  }
  to {
    color: #e5383b;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 65%;
  margin: 1rem auto;
}

.location,
.social-media,
.instagram-qr-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feature-content.media {
  justify-content: center;
}

p {
  padding: 1rem;
}

.addr-1,
.addr-2 {
  border-bottom: 1px solid #fffffc;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media i {
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  main .announcement {
    flex-direction: column;
    margin: 1.3rem auto;
    padding: 2rem 0;
  }

  h2 {
    font-size: medium;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
}
